@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;


}
.header{
/* clamp(max-content, 20%,250PX) */

    width: 20%    ;
    height: 100%;
    background-color: white;
}
.side-nav{

    /* width: 20%; */
    height: 100%;
    background: #338573;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px min(30px, 10%);
}
/* .logo1{
    display: block;
    margin-bottom: 130px;
}
.logo1-img{
    width: 150px;
} */
.nav-links{

list-style: none;
position: relative;

}
.nav-links li{

padding: 10px 0;

}
.nav-links li a{

    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;



}
.nav-links li a i{

font-size: 22px;
margin-right: 20px;

}
.active{

background: #fff;
width: 100%;
height: 47px;
position: absolute;
left: 0;
top: 2.6%;
z-index: -1;
border-radius: 6px;
box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
transition: top 0.5s;
display: none;
}
.nav-links li:hover  a{
    color: #338573;
    transition: 0.3s;
}
.nav-links li:hover ~ .active{

display: block;


}
.nav-links li:nth-child(1):hover ~ .active{
    top: 2.6%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 19.2%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top: 35.8%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 52.4%;
}
.nav-links li:nth-child(5):hover ~ .active{
    top: 69%;
}
.nav-links li:nth-child(6):hover ~ .active{
    top: 85.6%;
}
 
.container{

  width:90%!important;
  /* position: relative;
  top: 100px;
  left: 40px;*/


}  
/* .container form{

height: 830px;
position: relative;
bottom: 40px;




} */
/* .mb-1{

 margin-top: 50px;

} */
.blue-line {
    border-color: blue;
  }
  .green-line {
    position: relative;
  }


  /* .green-line::before {
    content: "";
    position: absolute;
    top: -4.8%;
    left: 2.1%;
    width: 96%;
    height: 4px;
    background-color: green;
  } */
  .text-muted{

  font-size: 18px;

  }
  .btn{
    background-color: #338573!important;
    border:2px solid #338573!important
     ;
  }
section{

    margin-left:202px;
}
@media only screen and (max-width: 600px)  {
    .side-nav{
        display: none;
    }
    section{
        margin-left: 0;
    }
}